<div class="my-2">
    <h2> Create Transaction </h2>
    <div class="container">
        <div class=" mb-3">
            <label for="name" class="form-label">Transaction Name</label>
            <input type="text" class="form-control" id="name" v-model="transData.name">
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Transaction Type</label>
            <input type="text" class="form-control" id="type" v-model="transData.type">
        </div>

        <div class="d-flex">
            <div class=" mx-2 mb-3">
                <label for="source" class="form-label">Source</label>
                <select class="form-select" aria-label="Default select example" v-model="transData.source">
                    <option selected>Open this select menu</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Pune">Pune</option>
                </select>
            </div>

            <div class="mx-2 mb-3">
                <label for="destination" class="form-label">Destination</label>
                <select class="form-select" aria-label="Default select example" v-model="transData.destination">
                    <option selected>Open this select menu</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Pune">Pune</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Example textarea</label>
            <textarea class="form-control" id="description" v-model="transData.description" rows="3"></textarea>
        </div>

        <div class="mb-3 text-end">
            <button @click="updateTrans" class="btn btn-primary">Submit</button>
        </div>

    </div>
</div>


        <div >
            <h4>Paid</h4>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Package</th>
                        <th>Source</th>
                        <th>Dest</th>
                        <th>Created at</th>
                        <th>Amt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="t in transaction" :key="t.id">
                        <tr v-if="t.internal_status === 'paid'">
                            <td>{{ t.id }}</td>
                            <td>{{ t.name }}</td>
                            <td>{{ t.source }}</td>
                            <td>{{ t.destination }}</td>
                            <td>{{ t.date }}</td>
                            <td>{{ t.amount }}</td>
                            <td> 
                            <button class="btn btn-danger">Reject<button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

    </div>
</div>




<!-- Right column -->
        <div class="col-4 border" style="height: 750px;">
            <div class="my-2">
                <h2>Review Transaction</h2>'
                <div class="mb-3">
                    <p class="fs-3">Transaction Name</p>
                    <p>{{t.name}}</p>
                </div>
                <div class="mb-3">
                    <p class="fs-3">Transaction Type</p>
                    <p>{{t.type}}</p>
                </div>
                <div class="mb-3">
                    <p>{{t.source}} to {{t.destination}}</p>
                </div>
                <div class="mb-3">
                    <label for="delivery" class="form-label">Delivery Date</label>
                    <input type="date" class="form-control" id="delivery" v-model="t.delivery">
                </div>  
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" v-model="t.amount">
                </div>                  
            </div>
        </div>